/target
target/
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
.DS_Store
node_modules/

dist/
dist-tsc/
tsconfig.tsbuildinfo
data/out/

zarrs/

__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.so
.venv/
.ropeproject/
__marimo__/
.Rproj.user

.astro/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
